.skill-item {
    text-align: center;
}
h2 {
  color: #EEA9A9;
  font-size: 100px;
}

ul {
  display: inline;
  margin-top: 10px;
}
ul > li {
  color: #E1F1FF;
  list-style-type: none;
  display: inline-block;
  margin: 0 4px;
    font-size: 14px;
}
ul > li > a {
   color:#E26A6A;
   text-decoration: none;
     font-weight: 200;
 }
.centered {
    text-align: center;
}
.mobile-hide {
width: 100%;
    margin-bottom: -8px;
}

p {
    color: #2C3C42;
}
.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
h4 {
    color: #5BA1D6;
    font-size: 20px;
}
h5 {
    color: #5BA1D6;
    font-size: 36px;
}
.icon {
    height: 80px;
}
.icon2 {
    height: 80px;
    padding-bottom: 20px;
}

.nav2 {
    padding-left: 25px;
}

.go-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    opacity: 0.5;
    display: none;
}
.go-top:hover {
    opacity: 1.0;
}
img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

a {
    text-decoration: none;
}

.red {
    color:#E26A6A;
}
.button1 { 
     text-align: center;
    padding-bottom: 10px;
    padding-top: 14px;


background: #FFFFFF;
border: 1px solid #E26A6A;
border-radius: 28px;
/* VIEW CLICKABLE PROTO: */
font-size: 18px;
color: #E26A6A;
letter-spacing: 0;
    width: 260px;
    height: 30px;
    margin: auto;
}
.button1:hover {
    background-color: #FCF0F0;
}
.u-max-full-width{
    text-align: center;
}
.italic {
    text-align: center;
    font-weight: 700;
    letter-spacing: .02em;
    height: 190px;
}

.blue {
    background-color: #F5FBFF;
}
.caption {
    color: #A0B1BA;
}
.smaller img {
    padding: 3px;
    width: 230px;
}